* {
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

body {
   background: url("../images/background.jpg") no-repeat fixed center/cover;
   color: white;
}

#page-wrapper {
   width: 65%;
   margin-left: 28%;
}

a {
   color: rgb(149, 190, 0);
   text-decoration: none;
}

a:hover {
   color: rgb(255, 166, 0);
   text-decoration: underline;
}

/* 主視覺~The Road to Enlightenment */
#zen-intro,
#zen-supporting {
   width: 100%;
   padding: 1rem 1rem;
}

#zen-intro h1,
#zen-intro h2 {
   text-indent: -9999px;
}

#banner {
   width: 53%;
   height: 100px;
   background: url("../images/logo.png") no-repeat center/contain;
   margin: 90px auto 0;
}

#zen-summary {
   width: 52%;
   margin: auto auto 1.5rem;
}

#zen-summary P:first-child {
   font-family: "Tangerine", cursive;
   font-size: 1.5rem;
   margin-top: 1rem;
}

#zen-summary P:last-child {
   width: 75%;
   height: 42px;
   line-height: 40px;
   font-size: 1.2rem;
   text-align: center;
   text-indent: 1rem;
   background: url("../images/download_btn.png") no-repeat center/cover;
   margin: 1.5rem auto 2rem;
   text-shadow: 1px 1px 1px rgb(43, 24, 0), 1px 1px 2px rgb(43, 24, 0), 1px 1px 3px rgb(43, 24, 0);
}

#zen-preamble h3 {
   text-align: center;
   font-size: 2rem;
   margin-bottom: 0.3rem;
}

#zen-preamble p {
   line-height: 1.3rem;
}

/* So What is This About? ~ Requirements */

#zen-supporting h3 {
   color: yellow;
   font-size: 1.5rem;
   margin-bottom: 0.5rem;
}

#zen-supporting p {
   margin-bottom: 1rem;
   text-indent: 1.5rem;
   line-height: 1.3rem;
}

#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements {
   margin-bottom: 1.5rem;
}

#zen-explanation {
   border-top: 1px dashed #333;
   padding-top: 1rem;
}

#zen-explanation h3,
#zen-participation h3,
#zen-benefits h3,
#zen-requirements h3 {
   background: url(../images/gem.png) no-repeat left center/contain;
   text-indent: 1.5rem;
}

/* footer */
#footer {
   margin-top: 2rem;
   padding: 1rem 0;
   text-align: center;
   background: linear-gradient(90deg, transparent 0%, rgba(28, 43, 0, 0.5) 50%, transparent 100%);
}

#footer a {
   display: inline-block;
   padding: 0 1rem;
}

/* 樹樹 */
.left_tree {
   width: 10%;
   height: 100%;
   background: url("../images/left_tree.png") no-repeat center/cover;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
   pointer-events: none;
   filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1)) drop-shadow(0 0 15px rgba(0, 0, 0, 1));
   -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1)) drop-shadow(0 0 15px rgba(0, 0, 0, 1));
}

.right_tree {
   width: 10%;
   height: 100%;
   background: url("../images/right_tree.png") no-repeat center/cover;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 9999;
   pointer-events: none;
   filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1)) drop-shadow(0 0 15px rgba(0, 0, 0, 1));
   -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1)) drop-shadow(0 0 15px rgba(0, 0, 0, 1));
}

.top_tree {
   width: 100%;
   height: 23%;
   background: url("../images/top_tree.png") no-repeat center/cover;
   position: fixed;
   top: 0;
   right: 0;
   z-index: 9998;
   pointer-events: none;
   filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1)) drop-shadow(0 0 15px rgba(0, 0, 0, 1));
   -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1)) drop-shadow(0 0 15px rgba(0, 0, 0, 1));
}

/* 側邊欄 */

#sidebar {
   width: 28%;
   height: 100%;
   background: red;
   position: fixed;
   top: 0;
   left: 0;
   background: url("../images/sidebar.png") no-repeat center/cover;
}

#sidebar #wrapper {
   width: 65%;
   margin: 100px auto 0 100px;
}

#design-selection h3,
#design-archives h3,
#zen-resources h3 {
   font-size: 1.5rem;
   margin-bottom: 0.5rem;
}

#design-selection ul,
#design-archives ul,
#zen-resources ul {
   margin-bottom: 1rem;
}

#design-selection li,
#design-archives li,
#zen-resources li {
   height: 2rem;
   line-height: 2rem;
   border-bottom: 1px dashed rgb(60, 61, 0);
}

/* particles */
#particles {
   position: fixed;
   width: 100vw;
   height: 100vh;
   z-index: -1;
}
