#thunder_rain {
  background-color: transparent;
  animation: thunder-bg 8s infinite;
  position: fixed;
  z-index: -2;
  opacity: 0.4;
}

@keyframes thunder-bg {
  0% {
    background-color: #1f1f33;
  }
  9% {
    background-color: #1f1f33;
  }
  10% {
    background-color: #484877;
  }
  10.5% {
    background-color: #1f1f33;
  }
  80% {
    background-color: #1f1f33;
  }
  82% {
    background-color: #484877;
  }
  83% {
    background-color: #1f1f33;
  }
  83.5% {
    background-color: #484877;
  }
  100% {
    background-color: #1f1f33;
  }
}
